@font-face {
    font-family: loos;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/loos_reg.woff2") format("woff2");
}

@font-face {
    font-family: loos;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/loos_md.woff2") format("woff2");
}

@font-face {
    font-family: loos;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/loos_bold.woff2") format("woff2");
}

body,
html {
    font-family: loos, Arial, sans-serif;
    background-color: transparent;
    color: white;
    min-height: 100vh;
}

html {
    background: #000 url(../images/gradient.svg) 0 0/contain no-repeat;
}

main > * {
    min-height: 100vh;
}

#hero {
    height: 100vh;
}

.green {
    color: rgb(0, 255, 0);
}
a {
    text-align: center;
}
.btn-outline-swiped {
    --bs-btn-color: white;
    --bs-btn-border-color: rgb(0, 255, 0);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(0, 255, 0);
    --bs-btn-hover-border-color: rgb(0, 255, 0);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: rgb(0, 255, 0);
    --bs-btn-active-border-color: rgb(0, 255, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(0, 255, 0);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(0, 255, 0);
    --bs-gradient: none
}
.btn-outline-testflight {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(0, 255, 0);
    --bs-btn-hover-border-color: rgb(0, 255, 0);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: rgb(0, 255, 0);
    --bs-btn-active-border-color: rgb(0, 255, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(0, 255, 0);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(0, 255, 0);
    --bs-gradient: none
}

#privacy {
    display: inline-flex;
    width: 5ch;
    justify-content: center;
}

#privacy span {
    width: 0.9ch;
    text-align: center;
}
